@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: violet ;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}


.btn {
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
    margin: 2rem;
    background-color: blueviolet;
    border: none;
    color: white;
    font-weight: 700;
    width: 15rem;

}

.btn:focus {
    outline: none;
}

.btn:hover {
    opacity: 0.90;
}

.container {
    width: 60%;
}